<a href="https://colab.research.google.com/github/Nagamvinusha/assignment/blob/master/Copy_of_Copy_of_Untitled.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 1.	Predict the output for the following code snippets:

In [ ]:

print(0.1+0.2)
print("1.8"+"2")
print(87>78)
print((0.1+0.2)==0.3)
print("Predict " "Output" ,".....")

0.30000000000000004
1.82
True
False
Predict Output .....

2.	Predict the output for the following code snippets:

In [ ]:
print("Prints","multiple","messages\n")
print("Concatenate "+" two strings\n")
print(5+6+" adds two numbers\n")

Prints multiple messages

Concatenate  two strings

TypeError: ignored

3.	Correct the given code snippets (only one change is allowed)

In [ ]:
print("ba"+"na"*2)
print(r"C:\naresh\raju\abhi")

banana
C:\naresh\raju\abhi

4.	Correct the given code snippets

In [ ]:
print('Welcome to Python traing program'[-4::-4])
print('A series of characters designated as one object knows as a string'[2:18:5])

g anytoW
sscc

5.	Predict the output for the given code snippet and justify the result.

In [ ]:
print('A series of characters designated as one object known as a string'[::-1][4::3])
print('-----------')
print('Welcome to Python traing program'[3:10][::-1])
#At first it will reverse the string by[::-1]
#next it will start printing from 4 th index and grabs every third position
#first it will print from 3 to 10 position  hence we will get(come to) next it will reverse the string

taawkcbe  tgestrcoeeA
-----------
ot emoc

6.	Predict the output for the given code snippet and justify the result
a.

In [ ]:
str1=True
x=5>3
print(str1==x)
y=5>8
print(str1==y)
#str1==x value of 5>3 which is true,str1 is true.hence str1==x is true
#str1==y value of y is 5>8 which is false,but str1 is true .hence,str1==y is false

True
False

b.

In [ ]:
num=7
Name="Michael Jackson"
sear_num=Name.find('el')
print(num>sear_num)
#here the value of sear_num is the index number of 'e' in 'el' on its first occurrence which is 5.where 7>5
#Hence, num>sear_num is True

True

7.Write a python code to get desired output
Input string : p_phrase = "was it a car or a cat I saw"
Output string : WAS I TAC A RO RAC A TI SAW

In [ ]:
p_phrase='was it a car or a cat I saw'
p=p_phrase.upper()[::-1]
print(p)

WAS I TAC A RO RAC A TI SAW

8.	Write a python code to print integer value : 946
Input string : A='1934567'

In [ ]:
A='1934567'
print(A[1::2])

946

9.	Write a python code to get desired output

In [ ]:
fake_phrase="Fake news has a knack for spreading like wild fire"
x=fake_phrase[16:40:].upper()[::-1]
x.split()

['EKIL', 'GNIDAERPS', 'ROF', 'KCANK']

10.	Write a python code to get desired output
msg1 = "Facebook already uses AI to Filter Fake stories from the feeds of users"
out = [Facebook , already, uses, AI, to, Filter, Fake, stories, from, the, feeds, of, users]

In [ ]:
msg1="Facebook already uses AI to Filter Fake stories from the feeds of users"
print(msg1.split())

['Facebook', 'already', 'uses', 'AI', 'to', 'Filter', 'Fake', 'stories', 'from', 'the', 'feeds', 'of', 'users']

11.	Predict the output for given code snippet .Justify the result .
msg2="Welcome to sr engineering college"
x= write the logic to count the occurrance of o in msg2   - expected 3
y= write the logic to count the occurrance of r in msg2   - expected 2
msg2[y**x:(x**y+x+y):][::-1]

In [ ]:
msg2="Welcome to sr engineering college"
x=msg2.count('o')
y=msg2.count('r')
msg2[y**x:(x**y+x+y):][::-1]
#x counts the occurance of o in msg2
#next step the slicing will br taking place with index value y**x as 8 and stop position x**y+x+y==14
#to str and the string will be reversed

' rs ot'

12 a.

In [ ]:
num1,num2="94","30"
data="As per Census 2011, Gender ratio of India is 943 females per 1000 males"
num1+num2[0] in data
#num1 is '94', num2[0] is '3'. num1+num2[0] is '943' which is present in data. Hence, output will be True

True

12 b.

In [ ]:
print(data[:45],print(int(num1)+int(num2)))
# At First it will convert num1,num2 to int and add them
#Next by slicing it will go to 44th index position will print  'As per Census 2011, Gender ratio of India is '
#None is printed because there is no return value for the print(int(num1)+int(num2)) function

124
As per Census 2011, Gender ratio of India is  None

13.

In [ ]:
M=float(input('Please enter the amount of water (kilograms) : '))
initialTemperature=float(input('Please enter the initial temperature of water (degree celsius) : '))
finalTemperature=float(input('Please enter the final temperature of water (degree celsius) : '))
Q = M * 4184 * (finalTemperature - initialTemperature)
print(f'Energy required to heat the water = {Q} joules')

Please enter the amount of water (kilograms) : 25
Please enter the initial temperature of water (degree celsius) : 6
Please enter the final temperature of water (degree celsius) : 8
Energy required to heat the water = 209200.0 joules

14.	You are required to generate a word similar to ZOO, X and Y that denote the number of Zs and Os respectively.
The generated word similar to ZOO where Y= 2 * X

In [ ]:
x=int(input('Enter number of x' ))
y=x*2
print(f"the word is {'z'*x+'o'*y}")

Enter number of x2
the word is zzoooo

15.

In [ ]:
x=int(input('Enter x integer : '))
y=int(input('Enter y integer : '))
pow=x**y
div=x//y
print(pow)
print(div)
print(div^(x+y))

Enter 1st integer : 2
Enter 2nd integer : 6
64
0
8